/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label {
	
	-fx-font: bold 9pt "Arial";
	
}

.button {
	
	-fx-bakcground-color: khaki;
	-fx-background-radius: 5;
	-fx-font: bold 10pt "Arial";
	
}